<div id="page-wrapper" class="page-wrapper ">
    <!-- <a href="#" class="logo">
    <svg>
        <use xlink:href="#logo" />
    </svg>
</a> -->



<header class="header">
    <div class="header__wrap">
        <a href="#" class="header__down-btn js-scroll-down">
            <svg>
                <use xlink:href="#arrows-down" />
            </svg>
        </a>
        <div class="header__page-name diet-font">
            контакты
        </div>
    </div>
    <img src="img/contacts.jpg" alt="" class="header__background">
</header>

    <div id="page-body" class="page-body">
        <div class="contacts info-wrapper js-inview">
    <!-- fixed elements -->
    <a href="#" class="header__menu js-show-menu target-black">
        <span></span>
    </a>


    <a href="#" class="logo fixed target-black">
        <svg>
            <use xlink:href="#logo" />
        </svg>
    </a>



    <!-- fixed elements -->

    <div class="container">

        <div class="contacts__wrap">
            <div class="contacts__title">
                Контакты
            </div>
            <div class="contacts__text">
                <div class="contacts__contact-row">
                    Россия, 107031, г. Москва, <span> ул. кузнецкий мост, д.12/3, стр.1, 2-ой этаж</span>
                </div>
                <div class="contacts__contact-row">
                    <span class="desktop">Телефон / факс: </span><a href="#">+7 (495)7907976</a>
                </div>
                <div class="contacts__contact-row">
                    <span class="desktop">E-mail: </span><a href="#">info@tlp-ab.ru</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container map-container">

        <div id="map"></div>
    </div>
</div>

    </div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4TX25kNrX_MKpXTGqV76IlNCseUtrX_c&signed_in=true"></script>
