<div id="page-wrapper" class="page-wrapper">
    <a href="#" class="logo logo--index-page">
    <svg>
        <use xlink:href="#logo" />
    </svg>
</a>

<!-- <a href="#" class="header__menu header__menu--index-page">
    <span></span>
</a> -->

<!-- <a href="#bureau" class="header__left-btn header__left-btn--index-page">
    <span>бюро</span>
    <svg class="icon">
        <use xlink:href="#arrows-left" />
    </svg>
</a> -->

<!-- <a href="#" class="header__right-btn header__right-btn--index-page">
    <span>проекты</span>
    <svg class="icon">
        <use xlink:href="#arrows-right" />
    </svg>
</a> -->



<header class="header js-height">
    <div class="header__wrap header__wrap--index-page">


    </div>
    <div class="header__bg-wrapper">
        <img src="img/index.jpg" alt="" class="header__background header__background--index">
    </div>
</header>


</div>
<div class="footer-placeholder"></div>
<footer id="footer" class="wrapper footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__title">
                Контакты
            </div>
            <div class="footer__text">
                <div class="footer__contact-row">
                    Россия, 107031, г. Москва, <span> ул. Кузнецкий мост, д.12/3, стр.1, 2-ой этаж</span>
                </div>
                <div class="footer__contact-row">
                    <span class="desktop">Телефон / факс: </span><a href="#">+7 (495)7907976</a>
                </div>
                <div class="footer__contact-row">
                    <span  class="desktop">E-mail: </span><a href="#">info@tlp-ab.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>

