@font-face {
	font-family: 'Gotham-Pro-Bold';
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot');
	src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Pro-Light';
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot');
	src: url('fonts/GothamPro-Light/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Pro-Reg';
	src: url('fonts/GothamPro-Reg/GothamPro.eot');
	src: url('fonts/GothamPro-Reg/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Reg/GothamPro.woff') format('woff'),
		url('fonts/GothamPro-Reg/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DietDidot';
	 src: url('fonts/DietDidot/3191F0_0_0.eot');
	 src: url('fonts/DietDidot/3191F0_0_0.eot?#iefix') format('embedded-opentype'),
	    url('fonts/DietDidot/3191F0_0_0.woff') format('woff'),
		url('fonts/DietDidot/3191F0_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$gothamprobold: 'Gotham-Pro-Bold', Arial, sans-serif;
$gothamproreg: 'Gotham-Pro-Reg', Arial, sans-serif;
$gothamprolight: 'Gotham-Pro-Light', Arial, sans-serif;
$dietdidot: 'DietDidot';
