<div class="header-target"></div>
<div class="project-detail-view"></div>
<div id="page-wrapper" class="page-wrapper main-view">
    @@include('../chunks/bureau-header.html')
    <div id="page-body" class="page-body">
        @@include('../chunks/bureau.html')
    </div>
    <div class="footer-placeholder"></div>
    @@include('../chunks/footer.html')
</div>
