@@include('../chunks/head.html')
</head>

<body>
    @@include('../chunks/svg.html')


    <!-- fixed on all pages elements  -->

    <div class="menu">
        @@include('../chunks/menu.html')
    </div>
    <div class="fixed-elements">

        <a href="#bureau" class="header__left-btn header__left-btn--index-page">
            <span>бюро</span>
            <svg class="icon">
                <use xlink:href="#arrows-left" />
            </svg>
            <svg class="icon icon--mobile">
                <use xlink:href="#arrows-left-mobile" />
            </svg>
        </a>

        <a href="#projects" class="header__right-btn header__right-btn--index-page">
            <span>проекты</span>
            <svg class="icon">
                <use xlink:href="#arrows-right" />
            </svg>
            <svg class="icon icon--mobile">
                <use xlink:href="#arrows-right-mobile" />
            </svg>
        </a>

        <!-- <a href="#" class="header__menu target-black js-show-menu">
            <span></span>
        </a> -->

        <a href="#" class="header__menu js-show-menu target-black">
            <span></span>
        </a>

        <a href="#" class="logo logo--small fixed target-black">
            <svg>
                <use xlink:href="#logo" />
            </svg>
        </a>
    </div>





    <div class="view">

    </div>
    <!-- loader = video or something else while we do roating/ -->
    <div class="loader">
        <!-- <video  autoplay id="video" preload="metadata">
            <source src="test-video.mp4" type="video/mp4">
        </video> -->
    </div>






    <!-- scripts
___________________________________________________________________________-->

    @@include('../chunks/scripts.html')
</body>

</html>
