@@include('../chunks/head.html')
</head>

<body>
    @@include('../chunks/svg.html')
    <div class="header-target"></div>
    <div class="project-detail-view"></div>
    <div id="page-wrapper" class="page-wrapper ">
        <div class="project-inner-wrapper">
            @@include('../chunks/header-project.html')
            <div id="page-body" class="page-body">
                @@include('../chunks/projects-inner.html')
            </div>

            <div class="footer-placeholder"></div>
            @@include('../chunks/footer.html')
        </div>

    </div>


    <!-- scripts
___________________________________________________________________________-->

    @@include('../chunks/scripts.html')
</body>

</html>
