<div class="project-inner-wrapper">
    @@include('../chunks/header-project.html')
    <div id="page-body" class="page-body">
        @@include('../chunks/projects-inner.html')
    </div>
    <!-- <div class="footer-placeholder"></div> -->
    <!-- @@include('../chunks/footer.html') -->
</div>

<!-- @@include('../chunks/footer.html') -->
