<div class="bureau info-wrapper">
    <!-- <a href="#" class="header__menu js-show-menu target-black">
        <span></span>
    </a> -->

    <a href="#" class="logo fixed target-black">
        <svg>
            <use xlink:href="#logo" />
        </svg>
    </a>
    <!-- <a href="#" class="header__right-btn">
        <span>проекты</span>
        <svg class="icon">
            <use xlink:href="#arrows-right" />
        </svg>
    </a> -->

    <div class="container">
        <div class="bureau__title">
            Возрождение,
            <br> однократно
            <br class="mobile"> монтаж
            <br> неравномерен.
        </div>

        <div class="bureau__about js-inview">
            <div class="bureau__about-title">
                О нас
            </div>
            <div class="bureau__about-text">
                <p>
                    Символический метафоризм неравномерен. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что ирония изящно заканчивает сокращенный канон. Феномер "психической мутации" диссонирует механизм эвокации.
                </p>
                <p>
                    Выразительное, как бы это ни казалось парадоксальным, имеет маньеризм. Беспристрастный анализ любого творческого акта показывает, что Возрождение имитирует суггестивный драматизм. Выявляя устойчивые архетипы на примере художественного творчества, можно
                    сказать, что теория наивного и сентиментального искусства аккумулирует элитарный стиль.
                </p>
            </div>
        </div>
    </div>

    <div class="bureau__slider js-bureau-slider js-white-arrow js-height">


        <div class="bureau__slider-item active" style="">
            <div class="bureau__img-wrapper">
                <img src="img/bureau-slide-1.jpg" alt="" class="bureau__slider-img">
            </div>
            <div class="bureau__slider-info js-bureau__animation">


                <div class="bureau__slider-title">Цимайло Александр</div>
                <div class="bureau__slider-text">
                    Символический метафоризм неравномерен. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что ирония изящно заканчивает сокращенный канон. Феномер диссонирует эвокации.
                </div>
                <a href="#" class="bureau__slider-link js-show-slide js-move-slide" data-slide="1">
                    <span>
                        Николай Ляшенко
                    </span>
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-right"></use>
                    </svg>
                </a>
            </div>

            <!--<img src="img/bureau-slide-1.jpg" alt="" class="bureau__slider-img">-->

        </div>

        <div class="bureau__slider-item right moving" style="z-index: 3">
            <div class="bureau__img-wrapper">
                <img src="img/bureau-slide-1.jpg" alt="" class="bureau__slider-img">
            </div>

            <div class="bureau__slider-info js-bureau__animation">


                <div class="bureau__slider-title">Николай Ляшенко</div>
                <div class="bureau__slider-text">
                    Символический метафоризм неравномерен. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что ирония изящно заканчивает сокращенный канон. Феномер диссонирует эвокации.
                </div>

                <a href="#" class="bureau__slider-link js-show-slide js-move-slide" data-slide="0">
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-left"></use>
                    </svg>
                    <span>
                        Цимайло Александр
                    </span>
                </a>
            </div>

            <!--<img src="img/bureau-slide-1.jpg" alt="" class="bureau__slider-img">-->

        </div>

        <ul class="bureau__slider-dots">
            <li>
                <a href="#" class="js-dots active" data-slide="0"></a>
            </li>
            <li>
                <a href="#" class="js-dots" data-slide="1"></a>
            </li>
        </ul>

    </div>
    <div class="bureau__team">
        <div class="container">


            <div class="bureau__team-title">
                Наша команда
            </div>

            <div class="bureau__team-list clearfix">
                    <ul class="js-target-list">
                        <li id="bx_651765591_51">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Андреева Ксения                        </span>
                        </li>
                        <li id="bx_651765591_50">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алешина Ольга                        </span>
                        </li>
                        <li id="bx_651765591_49">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алеканова Кира                        </span>
                        </li>
                        <li id="bx_651765591_48">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Андреева Ксения                        </span>
                        </li>
                        <li id="bx_651765591_47">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алешина Ольга                        </span>
                        </li>
                        <li id="bx_651765591_46">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алеканова Кира                        </span>
                        </li>
                        <li id="bx_651765591_45">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Андреева Ксения                        </span>
                        </li>
                        <li id="bx_651765591_44">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алешина Ольга                        </span>
                        </li>
                        <li id="bx_651765591_43">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алеканова Кира                        </span>
                        </li>
                        <li id="bx_651765591_42">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Андреева Ксения                        </span>
                        </li>
                        <li id="bx_651765591_41">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алешина Ольга                        </span>
                        </li>
                        <li id="bx_651765591_40">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алеканова Кира                        </span>
                        </li>
                        <li id="bx_651765591_3">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Андреева Ксения                        </span>
                        </li>
                        <li id="bx_651765591_2">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алешина Ольга                        </span>
                        </li>
                        <li id="bx_651765591_1">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Алеканова Кира                        </span>
                        </li>
                    </ul>
                    <ul class="js-target-list">
                        <li id="bx_651765591_70">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_69">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_68">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_67">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_66">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_65">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_64">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_63">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_62">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_61">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_60">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_59">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_58">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_57">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_56">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_55">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_54">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                        <li id="bx_651765591_53">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Лаврин Анатолий                        </span>
                        </li>
                        <li id="bx_651765591_52">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Крабенский Андрей                        </span>
                        </li>
                        <li id="bx_651765591_38">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Ксенза Виктория                        </span>
                        </li>
                    </ul>
                    <ul class="js-target-list">
                        <li id="bx_651765591_81">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Драгунова Лера                        </span>
                        </li>
                        <li id="bx_651765591_80">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Левицкий Александр                        </span>
                        </li>
                        <li id="bx_651765591_79">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Сокова Кира                        </span>
                        </li>
                        <li id="bx_651765591_78">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Драгунова Лера                        </span>
                        </li>
                        <li id="bx_651765591_77">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Левицкий Александр                        </span>
                        </li>
                        <li id="bx_651765591_76">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Сокова Кира                        </span>
                        </li>
                        <li id="bx_651765591_75">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Драгунова Лера                        </span>
                        </li>
                        <li id="bx_651765591_74">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Левицкий Александр                        </span>
                        </li>
                        <li id="bx_651765591_73">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Сокова Кира                        </span>
                        </li>
                        <li id="bx_651765591_72">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Драгунова Лера                        </span>
                        </li>
                        <li id="bx_651765591_71">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Левицкий Александр                        </span>
                        </li>
                        <li id="bx_651765591_39">
                            <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                            <span class="bureau__team-person">
                            Сокова Кира                        </span>
                        </li>
                    </ul>

                <!-- <ul class="js-target-list">
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алеканова Кира
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алешина Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Арутюнова Софья
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бабушкин Александр

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бедошвили Софья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бегларян Инесса

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Борисова Лидия

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Борисова Татьяна

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Буданова Наталья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бутрим Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Винарская Дарья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Вольский Владислав
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Горнова Маргарита</span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Гельфанд Мария</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Давыдова Анна</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Демидов Алексей</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Калмыкова Анастасия</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алеканова Кира
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алешина Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Арутюнова Софья
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бабушкин Александр

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бедошвили Софья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бегларян Инесса

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Борисова Лидия

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Борсова Татьяна</span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Буданова Наталья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бутрим Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Винарская Дарья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Вольский Владислав
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Горнова Маргарита</span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Гельфанд Мария</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Давыдова Анна</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Демидов Алексей</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Калмыкова Анастасия</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алеканова Кира
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Алешина Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Андреева Ксения
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Арутюнова Софья
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бабушкин Александр

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бедошвили Софья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бегларян Инесса

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Борисова Лидия

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Борисова Татьяна

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Буданова Наталья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Бутрим Ольга

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Винарская Дарья

                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">
                            Вольский Владислав
                        </span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Горнова Маргарита</span>
                    </li>
                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Гельфанд Мария</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Давыдова Анна</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Демидов Алексей</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Железнов Павел</span>
                    </li>

                    <li>
                        <img src="img/team-1.jpg" alt="" class="bureau__team-img">
                        <span class="bureau__team-person">Калмыкова Анастасия</span>
                    </li>
                </ul> -->
            </div>
        </div>
        <img class="team-img-hover" src="img/team-1.jpg" alt="">
    </div>

    <div class="honors js-white-arrow">
        <div class="container">
            <div class="honors__title">
                Награды
            </div>
            <div class="honors__list" data-show-more="12">
                <ul>
                    <li>
                        <div class="honors__name">AIA Gold Medal</div>
                        <div class="honors__list-name">Золото</div>
                    </li>

                    <li>
                        <div class="honors__name">Alvar Aalto Medal</div>
                        <div class="honors__list-name">2ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">CINTAS Foundation</div>
                        <div class="honors__list-name">Почетное упоменание
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Erich Schelling Architecture Award</div>
                        <div class="honors__list-name">Шорт-лист
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">International Architecture Awards</div>
                        <div class="honors__list-name">1ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Jane Drew Prize</div>
                        <div class="honors__list-name">2ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">
                            LafargeHolcim Awards for Sustaitnable</div>
                        <div class="honors__list-name">Почетное упоменание
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Construction</div>
                        <div class="honors__list-name">2ое место</div>
                    </li>
                    <li>
                        <div class="honors__name">AIA Gold Medal</div>
                        <div class="honors__list-name">Золото</div>
                    </li>

                    <li>
                        <div class="honors__name">Alvar Aalto Medal</div>
                        <div class="honors__list-name">2ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">CINTAS Foundation</div>
                        <div class="honors__list-name">Почетное упоменание
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Erich Schelling Architecture Award</div>
                        <div class="honors__list-name">Шорт-лист
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">International Architecture Awards</div>
                        <div class="honors__list-name">1ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Jane Drew Prize</div>
                        <div class="honors__list-name">2ое место
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">
                            LafargeHolcim Awards for Sustaitnable</div>
                        <div class="honors__list-name">Почетное упоменание
                        </div>
                    </li>
                    <li>
                        <div class="honors__name">Construction</div>
                        <div class="honors__list-name">2ое место</div>
                    </li>

                </ul>
            </div>
            <a href="#" class="honors__link js-show-all-honors">
                Все награды
            </a>
        </div>
    </div>

    <div class="clients container">
        <div class="clients__title">
            Клиенты
        </div>
        <div class="clients__wrapper">
            <div class="clients__list" data-show-more="12">
                <ul>
                    <li>AZIMUT HOTELS</li>
                    <li>ДС-ГРУППА</li>
                    <li>KR PROPERTIES</li>
                    <li>MOS CITY GROUP</li>
                    <li>КОМПАНИЯ OPTILAND</li>
                    <li>РВМ КАПИТАЛ</li>
                    <li>АМЕДИА</li>
                </ul>
                <ul>
                    <li>ВЕКТОР ИНВЕСТМЕНТС</li>
                    <li>VESPER</li>
                    <li>ГАРДТЕКС</li>
                    <li>O1 GROUP</li>
                    <li>КОАЛКО ДЕВЕЛОПМЕНТ</li>
                    <li>МИЭЛЬ</li>
                    <li>ОПИН</li>
                </ul>
                <ul>
                    <li>ООО ПФПГ</li>
                    <li>ГРУППА КОМПАНИЙ ПИК</li>
                    <li>РЕГИОНДЕВЕЛОПМЕНТ</li>
                    <li>ТВОЕ</li>
                    <li>ХИМКИ ГРУПП</li>
                    <li>ЦПКИО ИМЕНИ М.ГОРЬКОГО</li>
                </ul>
            </div>
        </div>
        <a href="#" class="clients__link js-show-clients">Все клиенты</a>
    </div>
</div>
