<!-- <a href="#" class="logo">
    <svg>
        <use xlink:href="#logo" />
    </svg>
</a> -->



<header class="header">
    <div class="header__wrap">
        <a href="#" class="header__down-btn js-scroll-down">
            <svg>
                <use xlink:href="#arrows-down" />
            </svg>
        </a>
        <div class="header__page-name diet-font">
            контакты
        </div>
    </div>
    <img src="img/contacts.jpg" alt="" class="header__background">
</header>
