<div class="contacts info-wrapper js-inview">
    <!-- fixed elements -->
    <a href="#" class="header__menu js-show-menu target-black">
        <span></span>
    </a>


    <a href="#" class="logo fixed target-black">
        <svg>
            <use xlink:href="#logo" />
        </svg>
    </a>



    <!-- fixed elements -->

    <div class="container">

        <div class="contacts__wrap">
            <div class="contacts__title">
                Контакты
            </div>
            <div class="contacts__text">
                <div class="contacts__contact-row">
                    Россия, 107031, г. Москва, <span> ул. кузнецкий мост, д.12/3, стр.1, 2-ой этаж</span>
                </div>
                <div class="contacts__contact-row">
                    <span class="desktop">Телефон / факс: </span><a href="#">+7 (495)7907976</a>
                </div>
                <div class="contacts__contact-row">
                    <span class="desktop">E-mail: </span><a href="#">info@tlp-ab.ru</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container map-container">

        <div id="map"></div>
    </div>
</div>
