<footer id="footer" class="wrapper footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__title">
                Контакты
            </div>
            <div class="footer__text">
                <div class="footer__contact-row">
                    Россия, 107031, г. Москва, <span> ул. Кузнецкий мост, д.12/3, стр.1, 2-ой этаж</span>
                </div>
                <div class="footer__contact-row">
                    <span class="desktop">Телефон / факс: </span><a href="#">+7 (495)7907976</a>
                </div>
                <div class="footer__contact-row">
                    <span  class="desktop">E-mail: </span><a href="#">info@tlp-ab.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>
