<a href="#" class="logo">
    <svg>
        <use xlink:href="#logo" />
    </svg>
</a>

<a href="#" class="project-back js-project-back">
    <svg>
        <use xlink:href="#project-back" />
    </svg>
</a>

<header class="header header-inner">
    <div class="header__wrap">

        <!-- <a href="#" class="header__menu">
            <span></span>
        </a> -->
        <!-- <a href="#" class="header__left-btn">бюро
            <svg class="icon">
                <use xlink:href="#arrows-left" />
            </svg>
        </a> -->
        <!-- <a href="#" class="header__down-btn js-scroll-down">
            <svg>
                <use xlink:href="#arrows-down" />
            </svg>
        </a> -->
        <!-- <div class="header__page-name">
            проэкты
        </div> -->
    </div>
    <div class="img-moving">
        <img src="img/project-detail.jpg" alt="" class="header__background">
    </div>
</header>
