<header class="header js-height">
    <div class="header__wrap">
        <!-- <a href="#" class="header__menu target-black">
            <span></span>
        </a> -->
        <!-- <a href="#" class="header__left-btn">бюро
            <svg class="icon">
                <use xlink:href="#arrows-left" />
            </svg>
        </a> -->
        <a href="#" class="header__down-btn js-scroll-down">
            <svg>
                <use xlink:href="#arrows-down" />
            </svg>
        </a>
        <!-- <div class="header__page-name">
            проекты
        </div> -->
    </div>

    <img src="img/projects-bg.jpg" alt="" class="header__background">
</header>
