<a href="#" class="logo logo--index-page">
    <svg>
        <use xlink:href="#logo" />
    </svg>
</a>

<!-- <a href="#" class="header__menu header__menu--index-page">
    <span></span>
</a> -->

<!-- <a href="#bureau" class="header__left-btn header__left-btn--index-page">
    <span>бюро</span>
    <svg class="icon">
        <use xlink:href="#arrows-left" />
    </svg>
</a> -->

<!-- <a href="#" class="header__right-btn header__right-btn--index-page">
    <span>проекты</span>
    <svg class="icon">
        <use xlink:href="#arrows-right" />
    </svg>
</a> -->



<header class="header js-height">
    <div class="header__wrap header__wrap--index-page">


    </div>
    <div class="header__bg-wrapper">
        <img src="img/index.jpg" alt="" class="header__background header__background--index">
    </div>
</header>
