<div class="overlay overlay-hugeinc">
    <div class="bg-wrapper">
        <nav>
            <ul>
                <li>
                    <a href="#bureau" class="js-menu-bg" data-img="bureau-page">бюро</a>
                </li>
                <li>
                    <a href="#projects" class="js-menu-bg" data-img="projects-page">проекты</a>
                </li>
                <li>
                    <a href="#contacts" class="js-menu-bg" data-img="contacts-page">контакты</a>
                </li>
            </ul>
        </nav>

    </div>
    <img src="img/bureau.jpg" alt="" class="overlay__img bureau-page ">
    <img src="img/projects-bg.jpg" alt="" class="overlay__img projects-page">
    <img src="img/contacts.jpg" alt="" class="overlay__img contacts-page">
</div>
