<div class="project-inner info-wrapper">
    <div class="container">
        <div class="project-inner__title js-inview">
            Жилой комплекс
            <br> на Софийской набережной, 36/10
        </div>
        <div class="project-inner__detail clearfix js-inview">
            <div class="project-inner__detail-items-wrap">
                <div class="project-inner__detail-item">

                    <div class="project-inner__detail-name">Клиент</div>
                    <div class="project-inner__detail-value">AGC Group</div>
                </div>
                <div class="project-inner__detail-item">
                    <div class="project-inner__detail-name">Дата проекта</div>
                    <div class="project-inner__detail-value">2013</div>
                </div>
                <div class="project-inner__detail-item">
                    <div class="project-inner__detail-name">Общая площадь</div>
                    <div class="project-inner__detail-value">78 000 m <sup>2</sup></div>
                </div>
            </div>
        </div>

        <div class="project-inner__sub-title js-inview">
            Окна и детали фасада
            <br> позволяют переосмыслить
            <br> образ русской культуры.
        </div>
    </div>

    <div class="container project-inner__info-wrapper js-inview">
        <div class="project-inner__info">
            <div class="project-inner__info-title">задача</div>
            <div class="project-inner__info-text">Построить высококлассный дом для комфортного проживания, вписав его в градостроительную структуру исторического центра москвы.</div>
        </div>

        <div class="project-inner__info">
            <div class="project-inner__info-title">Решение</div>
            <div class="project-inner__info-text">В отделке фасадов комплекса использованы высококачественные и современные материалы: натуральный каме нь, металл и витражное остекление. Жилой комплекс разделен на два блока, не спорящих по высоте с окружающей застройкой. Был создан уютный
                внутренний двор благодаря функциональному зонированию территории комплекса. Окна апартаментов выходят как минимум на две стороны, что обеспечивает хорошие виды на исторический центр города. </div>
        </div>
    </div>

    <div class="images">
        <div class="images__slider clearfix">
            <div class="slider-row">
                <div class="images__wrapper">
                    <img src="img/project-inner-1.jpg" alt="">
                </div>
                <div class="images__wrapper">
                    <img src="img/project-inner-2.jpg" alt="">
                </div>
                <div class="images__wrapper">
                    <img src="img/project-inner-2.jpg" alt="">
                </div>
                <div class="images__wrapper">
                    <img src="img/project-inner-2.jpg" alt="">
                </div>
                <div class="images__wrapper">
                    <img src="img/project-inner-2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#" class="slide-btn-right js-project-slide" data-direction="right">
            <svg>
                <use xlink:href="#arrows-right" />
            </svg>
        </a>

        <a href="#" class="slide-btn-left js-project-slide" data-direction="left">
            <svg>
                <use xlink:href="#arrows-left" />
            </svg>
        </a>

    </div>
    <div class="static-images">
        <img src="img/project-inner-3.jpg" alt="">
    </div>

    <div class="next-project">
        <span class="img-wrapper">
            <div class="img-moving">


                <img src="img/project-2.jpg" />
                </div>
        </span>
        <!-- <img src="img/project-inner-3.jpg" alt=""> -->
        <div class="next-project__info">
            <div class="next-project__title">СЛЕДУЮЩИЙ ПРОЕКТ</div>
            <div class="next-project__sub-title">
                жилой комплекс
                <span>
                новый город
                </span>
            </div>
            <a href="#" class="next-project__btn js-next-project" data-id="2">
                <svg class="icon">
                    <use xlink:href="#arrows-right" />
                </svg>
            </a>
        </div>
    </div>

</div>
