<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="logo" viewBox="0 0 123.5 79.8">
      <g id="XMLID_1195_">
        <path id="XMLID_1196_" class="st0" d="M6,3.8v0.2H4.3v12.1h5.1V4.1H7.8V3.8h5.8v0.2H12v12.1h1.8v3.2h-0.2
          c-0.2-0.6-0.4-1.1-0.6-1.5c-0.2-0.4-0.4-0.7-0.7-0.9c-0.3-0.2-0.6-0.4-0.9-0.5c-0.3-0.1-0.7-0.1-1.1-0.1H0.2v-0.2h1.6V4.1H0.2V3.8
          H6z"/>
        <path id="XMLID_1198_" class="st0" d="M24.9,3.8v0.2h-1.6v10.6l5.2-10V4.1h-1.6V3.8h5.8v0.2h-1.6v12.1h1.6v0.2h-5.8v-0.2h1.6V5.3
          l-5.2,10v0.9h1.6v0.2h-5.8v-0.2h1.6V4.1h-1.6V3.8H24.9z"/>
        <path id="XMLID_1200_" class="st0" d="M42.6,3.8l3.1,8.8h0l3.1-8.8h4.4v0.2h-1.6v12.1h1.6v0.2h-5.8v-0.2H49V4.1h0l-4.4,12.3h-0.3
          L40,4.1h0v12.1h1.6v0.2H38v-0.2h1.6V4.1H38V3.8H42.6z"/>
        <path id="XMLID_1202_" class="st0" d="M57.9,16.2l5.3-12.8h0.5l5.6,12.8h1.5v0.2h-5.9v-0.2h1.6l-2.1-4.7h-4.2l-2,4.7h1.6v0.2h-3.3
          v-0.2H57.9z M60.2,11.2h4.1l-2.1-4.8L60.2,11.2z"/>
        <path id="XMLID_1205_" class="st0" d="M80.1,3.8v0.2h-1.6v10.6l5.2-10V4.1h-1.6V3.8h5.8v0.2h-1.6v12.1h1.6v0.2h-5.8v-0.2h1.6V5.3
          l-5.2,10v0.9h1.6v0.2h-5.8v-0.2H76V4.1h-1.6V3.8H80.1z M81.2,3c-0.4,0-0.8,0-1.2-0.1c-0.4-0.1-0.7-0.2-1-0.4
          c-0.3-0.2-0.5-0.3-0.7-0.6C78,1.8,78,1.5,78,1.2c0-0.4,0.1-0.6,0.3-0.9s0.5-0.3,1-0.3c0.3,0,0.5,0.1,0.7,0.2
          c0.2,0.2,0.3,0.4,0.3,0.7c0,0.3,0,0.6-0.1,0.8C80,1.8,80,2,80,2.2c0,0.2,0.1,0.3,0.4,0.4c0.3,0.1,0.5,0.1,0.9,0.1
          c0.3,0,0.6,0,0.8-0.1c0.3-0.1,0.4-0.2,0.4-0.5c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.3,0-0.4
          c0-0.3,0.1-0.5,0.3-0.7S82.8,0,83.1,0c0.9,0,1.3,0.4,1.3,1.2c0,0.3-0.1,0.5-0.3,0.8c-0.2,0.2-0.4,0.4-0.7,0.6
          c-0.3,0.2-0.6,0.3-1,0.4C82,3,81.6,3,81.2,3z"/>
        <path id="XMLID_1208_" class="st0" d="M94.5,16.4c0.2,0,0.3-0.1,0.5-0.2c0.2-0.1,0.3-0.2,0.4-0.4c0.1-0.2,0.3-0.4,0.4-0.6
          c0.1-0.2,0.2-0.4,0.3-0.7c0.2-0.7,0.4-1.5,0.6-2.4s0.3-1.8,0.4-2.7s0.2-1.9,0.2-2.8c0.1-0.9,0.1-1.8,0.1-2.7h-1.7V3.8h9.6v0.2
          h-1.6v12.1h1.6v0.2h-5.8v-0.2h1.6V4.1h-3.4c0,0.7-0.1,1.5-0.1,2.4c-0.1,0.9-0.1,1.9-0.2,2.9c-0.1,1-0.2,2-0.4,2.9
          c-0.2,1-0.4,1.8-0.6,2.5c-0.2,0.6-0.5,1.1-0.8,1.4c-0.3,0.3-0.7,0.5-1.1,0.5c-0.2,0-0.5,0-0.8-0.1c-0.3-0.1-0.5-0.2-0.7-0.4
          c-0.2-0.2-0.4-0.4-0.5-0.6c-0.1-0.2-0.2-0.5-0.2-0.8c0-0.4,0.1-0.8,0.4-1c0.3-0.2,0.6-0.3,1-0.3c0.4,0,0.6,0.1,0.8,0.2
          c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2,0,0.3-0.1,0.5c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.1,0.2-0.1,0.4c0,0.1-0.1,0.2-0.1,0.4
          C94.2,16.3,94.3,16.4,94.5,16.4z"/>
        <path id="XMLID_1210_" class="st0" d="M110.2,10.2c0-1,0.2-1.9,0.6-2.7c0.4-0.8,0.9-1.5,1.6-2.1s1.3-1,2.1-1.3
          c0.8-0.3,1.6-0.5,2.3-0.5c0.8,0,1.6,0.2,2.4,0.5c0.8,0.3,1.5,0.7,2.1,1.3c0.6,0.6,1.1,1.3,1.5,2.1c0.4,0.8,0.6,1.7,0.6,2.7
          c0,0.9-0.2,1.7-0.5,2.5c-0.4,0.8-0.8,1.5-1.5,2.1s-1.3,1.1-2.1,1.4c-0.8,0.3-1.6,0.5-2.5,0.5c-0.9,0-1.7-0.2-2.5-0.5
          c-0.8-0.3-1.5-0.8-2.1-1.4c-0.6-0.6-1.1-1.3-1.5-2.1C110.4,11.9,110.2,11.1,110.2,10.2z M113.1,10.2c0,1.2,0.1,2.2,0.2,3.1
          c0.1,0.8,0.4,1.5,0.7,1.9c0.3,0.5,0.7,0.8,1.2,1c0.5,0.2,1,0.3,1.7,0.3c0.9,0,1.5-0.2,2-0.5c0.5-0.3,0.9-0.8,1.1-1.3
          c0.2-0.6,0.4-1.3,0.5-2c0.1-0.8,0.1-1.6,0.1-2.6c0-0.8,0-1.6-0.1-2.4c-0.1-0.7-0.2-1.4-0.5-2c-0.2-0.6-0.6-1-1.1-1.4
          c-0.5-0.3-1.2-0.5-2.1-0.5c-0.8,0-1.5,0.2-2,0.5c-0.5,0.3-0.9,0.8-1.1,1.3c-0.3,0.6-0.4,1.2-0.5,2C113.1,8.4,113.1,9.2,113.1,10.2
          z"/>
      </g>
      <g id="XMLID_1213_">
        <path id="XMLID_1214_" class="st0" d="M1.8,79.8V67.1h9.1v12.7H10V67.6H2.7v12.2H1.8z"/>
        <path id="XMLID_1216_" class="st0" d="M17.8,79.8l5.1-13.3L28,79.8h-1l-1.6-4.2h-5.3l-1.6,4.2H17.8z M20.3,75h4.9l-2.5-6.5
          L20.3,75z"/>
        <path id="XMLID_1219_" class="st0" d="M34.6,79.8V67.1h2c2,0,3.4,0.2,4.3,0.8c1.1,0.6,1.6,1.6,1.6,2.9c0,0.6-0.1,1.2-0.3,1.7
          c-0.2,0.5-0.5,0.9-0.9,1.2c-0.4,0.3-0.8,0.6-1.3,0.7c-0.5,0.2-1,0.3-1.6,0.3c-1,0-2-0.2-2.8-0.7c0.6,0.2,1.4,0.3,2.3,0.3
          c0.5,0,1-0.1,1.4-0.2c0.4-0.1,0.8-0.3,1.2-0.6c0.4-0.3,0.7-0.6,0.9-1.1c0.2-0.5,0.3-1,0.3-1.6c0-1.1-0.4-2-1.2-2.5
          c-0.7-0.5-2.1-0.8-4.1-0.7h-0.8v12.2H34.6z"/>
        <path id="XMLID_1221_" class="st0" d="M47.7,67.1h9.9v0.5h-4.5v12.2h-0.9V67.6h-4.5V67.1z"/>
        <path id="XMLID_1223_" class="st0" d="M64.1,79.8V67.1H65v5.7h7.9v-5.7h0.9v12.7h-0.9v-6.4H65v6.4H64.1z"/>
        <path id="XMLID_1225_" class="st0" d="M82.4,79.8V67.1h7v0.5h-6.1v5.3h5.5v0.5h-5.5v5.9h6.4v0.5H82.4z"/>
        <path id="XMLID_1227_" class="st0" d="M97.2,79.8V67.1h2c2,0,3.4,0.2,4.3,0.8c1.1,0.6,1.6,1.6,1.6,2.9c0,0.6-0.1,1.2-0.3,1.7
          c-0.2,0.5-0.5,0.9-0.9,1.2c-0.4,0.3-0.8,0.6-1.3,0.7c-0.5,0.2-1,0.3-1.6,0.3c-1,0-2-0.2-2.8-0.7c0.6,0.2,1.4,0.3,2.3,0.3
          c0.5,0,1-0.1,1.4-0.2c0.4-0.1,0.8-0.3,1.2-0.6c0.4-0.3,0.7-0.6,0.9-1.1c0.2-0.5,0.3-1,0.3-1.6c0-1.1-0.4-2-1.2-2.5
          c-0.7-0.5-2.1-0.8-4.1-0.7h-0.8v12.2H97.2z"/>
        <path id="XMLID_1229_" class="st0" d="M111.9,79.8V67.1h0.9v12.2h0.8c0.7,0,1.3,0,1.8-0.1c0.5,0,1-0.1,1.4-0.3
          c0.4-0.1,0.8-0.3,1.1-0.6c0.3-0.3,0.5-0.6,0.6-1c0.2-0.4,0.2-0.9,0.2-1.5c0-0.5-0.1-0.9-0.2-1.3s-0.3-0.7-0.6-0.9
          c-0.2-0.2-0.5-0.4-0.9-0.6c-0.3-0.2-0.7-0.3-1-0.3c-0.3-0.1-0.7-0.1-1.1-0.1c-0.8,0-1.6,0.1-2.3,0.3c0.9-0.5,1.8-0.7,2.8-0.7
          c0.6,0,1.1,0.1,1.6,0.2c0.5,0.1,0.9,0.3,1.3,0.6c0.4,0.3,0.7,0.6,0.9,1.1s0.3,1,0.3,1.6c0,0.6-0.1,1.2-0.3,1.7s-0.5,0.9-0.8,1.2
          c-0.3,0.3-0.8,0.5-1.3,0.7c-0.5,0.2-1.1,0.3-1.6,0.4c-0.6,0.1-1.2,0.1-2,0.1H111.9z M122,79.8V67.1h0.9v12.7H122z"/>
      </g>
      <g id="XMLID_1232_">
        <path id="XMLID_1233_" class="st0" d="M18,39.5c0,1.9,1.1,3.3,2.9,3.9l-3.5,4.8h2.9l3.1-4.3H26v4.3h2.4V35.4h-5.7
          C19.8,35.4,18,37,18,39.5z M26,37.6v4h-3.1c-1.5,0-2.5-0.8-2.5-2c0-1.3,0.9-2,2.5-2H26z"/>
        <polygon id="XMLID_1236_" class="st0" points="50.1,45.9 45.5,45.9 45.5,35.4 43,35.4 43,45.9 38.4,45.9 38.4,35.4 35.9,35.4
          35.9,48.2 52.6,48.2 52.6,35.4 50.1,35.4 		"/>
        <polygon id="XMLID_1237_" class="st0" points="62.8,42.8 69.1,42.8 69.1,40.6 62.8,40.6 62.8,37.6 69.9,37.6 69.9,35.4 60.4,35.4
          60.4,48.2 70,48.2 70,45.9 62.8,45.9 		"/>
        <polygon id="XMLID_1238_" class="st0" points="85.2,40.6 79.4,40.6 79.4,35.4 77,35.4 77,48.2 79.4,48.2 79.4,42.9 85.2,42.9
          85.2,48.2 87.6,48.2 87.6,35.4 85.2,35.4 		"/>
        <polygon id="XMLID_1239_" class="st0" points="106,35.4 103,35.4 97.2,41.5 97.2,35.4 94.7,35.4 94.7,48.2 97.2,48.2 97.2,44.4
          99,42.6 103.2,48.1 103.2,48.2 106.2,48.2 100.7,40.9 		"/>
        <path id="XMLID_1240_" class="st0" d="M116.8,35.2c-3.7,0-6.7,2.9-6.7,6.6c0,3.8,2.9,6.6,6.6,6.6c3.7,0,6.7-2.9,6.7-6.6
          C123.4,38,120.6,35.2,116.8,35.2z M120.9,41.8c0,2.5-1.8,4.3-4.1,4.3c-2.3,0-4.1-1.9-4.1-4.3s1.8-4.3,4.1-4.3
          C119.1,37.5,120.9,39.3,120.9,41.8z"/>
        <path id="XMLID_1243_" class="st0" d="M2.5,38c0,7.5-1.2,8.2-2.3,8.2c0,0,0,0,0,0l-0.2,0v2.1l0.1,0c0.3,0,0.5,0,0.7,0
          c3,0,4-2.5,4-9.7v-1h4.1v10.5h2.5V35.4H2.5V38z"/>
      </g>
    </symbol>

    <symbol id="arrows-left-mobile" viewBox="0 0 33.7 14.7">
      <g id="XMLID_1_">
            <polyline id="XMLID_3_" class="st0" points="7.7,0.4 0.7,7.4 7.7,14.4"/>
        </g>
    </symbol>

    <symbol id="arrows-left" viewBox="0 0 33.7 14.7">
      <g id="XMLID_1_">
    		<line id="XMLID_4_" class="st0" x1="33.7" y1="7.4" x2="0.7" y2="7.4"/>
    		<polyline id="XMLID_3_" class="st0" points="7.7,0.4 0.7,7.4 7.7,14.4 		"/>
    	</g>
    </symbol>

    <symbol id="arrows-right-mobile" viewBox="0 0 33.7 14.7">
        <g>
        	<polyline id="XMLID_557_" class="st0" points="26,0.4 33,7.4 26,14.4"/>
        </g>
    </symbol>

    <symbol id="arrows-right" viewBox="0 0 33.7 14.7">
        <g>
            <line id="XMLID_619_" class="st0" x1="0" y1="7.4" x2="33" y2="7.4"/>
        	<polyline id="XMLID_557_" class="st0" points="26,0.4 33,7.4 26,14.4 	"/>
        </g>
    </symbol>

    <symbol id="arrows-down" viewBox="0 0 14.7 33.7">
      <g id="XMLID_1_">
        <line id="XMLID_4_" class="st1" x1="7.4" y1="0" x2="7.4" y2="33"/>
        <polyline id="XMLID_3_" class="st1" points="0.4,26 7.4,33 14.4,26 		"/>
      </g>
    </symbol>

    <symbol id="project-back" viewBox="0 0 25 25">
        <g id="XMLID_457_">
        	<rect id="XMLID_476_" x="0" y="0" class="st0" width="10" height="10"/>
        	<rect id="XMLID_475_" x="15" y="0" class="st0" width="10" height="10"/>
        	<rect id="XMLID_474_" x="15" y="15" class="st0" width="10" height="10"/>
        	<rect id="XMLID_459_" x="0" y="15" class="st0" width="10" height="10"/>
        </g>
    </symbol>



</svg>
