.footer-placeholder{
  @media (max-width: $screen-sm-max){
    display: none;
  }
}
.footer {
    background: #f4f4f4;
    color: #000;
    // position: relative;
    z-index: -1;
    padding: 147px 0 128px;
    position: fixed;
    bottom: 0;
    &__wrap {
        position: relative;
    }
    &__title {
        font-family: $gothamprobold;
        font-size: 12px;
        position: absolute;
        top: 2px;
        left: 96px;
        text-transform: uppercase;
    }
    &__text {
        padding-left: 282px;
        font-family: $gothamproreg;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &__contact-row {
        margin-bottom: 19px;
        display: block;
        text-decoration: none;
        color: #000;
        br {
            display: none;
        }
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // a.footer__contact-row {
    //     &:hover {
    //         text-decoration: underline;
    //     }
    // }
    @media (max-width: $screen-lg-max) {
        padding: 97px 0 115px;
        &__title {
            left: 72px;
        }
        &__text {
            padding-left: 224px;
        }
        &__contact-row {
            // margin-bottom: 19px;
            span {
                display: block;
                // display: none;
                margin-top: 19px;
            }
            .desktop {
                display: none;
            }
        }
    }
    @media (max-width: $screen-md-max) {
        padding: 97px 0 79px;
        &__title {
            position: static;
            margin-top: 3px;
            margin-bottom: 45px;
        }
        &__text {
            padding-left: 0;
        }
    }
    @media (max-width: $screen-sm-max) {
        position: relative;
        padding: 56px 0 40px;
        &__title {
            margin-bottom: 25px;
            padding-left: 5px;
        }
        &__text {
            padding-left: 5px;
        }
        &__contact-row {
            margin-bottom: 17px;
            span {
                margin-top: 1px;
                line-height: 21px;
            }
        }
    }
}
