.header-target{
  .img-wrapper{
    position: fixed;
  }
}

.ie-10,
.ie-11,
.ie-9 {
    overflow-y: scroll;
    width: 100vw;
    overflow-x: hidden;
    // margin-left: calc(100vw - 100%);
}
.ios,
.macOs {
    .header__left-btn span {
        top: -3px;
    }
    .header__right-btn span {
        top: -4px;
    }
}
.ios {
    .header__left-btn:not(.to-center),
    .header__right-btn:not(.to-center) {
        // top: -8px;
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            top: 48.6%;
        }
        // top: 500px;
    }
    @media (max-width: $screen-sm-max) {
        .header__right-btn span {
            top: -8px;
        }
        .header__left-btn span {
            top: -6px;
        }
    }
}

.save-overlay{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.logo {
    @include position(absolute, 20px null null 3.8vw);
    width: 142px;
    height: 150px;
    z-index: 2;
    svg {
        fill: #fff;
        width: 100%;
        height: 100%;
        transition: 0.2s ease;
    }
    &.fixed {
        position: fixed;
        @media (max-width: $screen-sm-max) {
            position: absolute;
        }
    }
    &.black {
        svg {
            fill: #000;
            transition: 0.2s ease;
        }
    }
    &--small {
        z-index: 6;
        display: none;
        @media (max-width: $screen-sm-max) {
            &.fixed {
                display: none;
            }
        }
    }
    @media (max-width: $screen-lg-max) {
        top: 1px;
        left: 2.9vw;
        width: 123px;
        height: 132px;
    }
    @media (max-width: $screen-sm-max) {
        top: 1px;
        left: 19px;
        width: 79px;
        height: 89px;
    }
    &--index-page {
        width: 463px;
        height: 300px;
        @include position(fixed, -14px 0 0 0);
        margin: auto;
        @media (max-width: $screen-lg-max) {
             @include position(fixed, 0 0 0 0);
            width: 455px;
            height: 294px;
        }
        @media (max-width: $screen-md-max) {
             @include position(fixed, 0 0 0 0);
            width: 306px;
            height: 198px;
        }
        @media (max-width: $screen-sm-max) {
             @include position(absolute, 0 0 0 0);
            width: 187px;
            height: 121px;
        }
    }
}

.header{
    position: relative;
z-index: 1;
}
.adress {
    @include position(fixed, null null 35px 107px);
    // position: fixed;
    // bottom: 35px;
    // left: 107px;
    z-index: 1;
    color: #fff;
    font-family: $gothamproreg;
    font-size: 12px;
    line-height: 22px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (max-width: $screen-sm-max) {
         @include position(absolute, 56.4% 0 null 0);
        // position: fixed;
        // top: 56.4%;
        // left: 0;
        // right: 0;
        text-align: center;
        color: #898586;
        a {
            color: #898586;
        }
    }
}
.header-target {
    .img-wrapper {
        img {
            &.bgwidth {
                // width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
            &.bgheight {
                height: 100%;
                max-width: none;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.header {
    min-height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    @media (max-width: $screen-sm-max) {
        position: relative;
        overflow: hidden;
    }
    &__background {
        position: absolute;
        width: 100%;
        &.bgwidth {
            // width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        &.bgheight {
            height: 100%;
            max-width: none;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__bg-wrapper {
        position: absolute;
        width: 106%;
        height: 100%;
        left: 48%;
        margin-left: -50%;
    }
    &__page-name {
        font-size: 90px;
        line-height: 90px;
        font-family: $gothamprobold;
        color: #fff;
        @include position(absolute,50% 0 null 0% );
        // top: 50%;
        // right: 0;
        // left: 0.3%;
        letter-spacing: 5px;
        display: inline-block;
        margin: auto;
        text-align: center;
        transform: translateY(-50%);
        text-transform: uppercase;
        text-decoration: none;
        margin-top: -6px;
        letter-spacing: 2.8px;
        .icon {
            display: none;
        }
        &.diet-font {
            font-family: $dietdidot;
            @media (max-width: $screen-sm-max) {
                font-size: 40px;
                // top: 54.6%;
                left: 0;
            }
        }
        &--bureau {
            @media (max-width: $screen-sm-max) {
                top: 50%;
            }
        }
        @media (max-width: 1600px) {
            // top: 50vh;
        }
        @media (max-width: $screen-md-max) {
            font-size: 71px;
            // top: 50vh;
            left: -1.9%;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 40px;
            // top: 50vh;
        }
    }
    &__menu {
        @include position(fixed,58px 49px null null);
        display: block;
        width: 20px;
        height: 19px;
        color: #fff;
        z-index: 60;
        padding-top: 8px;
        transition: 0.2s ease;
        &--index-page {
            right: 59px;
            top: 68px;
        }
        @media (max-width: $screen-md-max) {
            top: 35px;
            right: 26px;
        }
        @media (max-width: $screen-sm-max) {
            top: 27px;
            right: 22px;
            // display: none;
        }
        span {
            width: 100%;
            height: 3px;
            display: block;
            background: #fff;
            position: relative;
            transition: 0.5s;
            &:before {
                content: '';
                height: 3px;
                width: 100%;
                position: absolute;
                top: -8px;
                left: 0;
                background: #fff;
                transition: 0.5s;
            }
            &:after {
                content: '';
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: -8px;
                left: 0;
                background: #fff;
                transition: 0.5s;
            }
        }
        &.black {
            position: fixed;
            transition: 0.2s ease;
            span {
                background: #000;
                &:after,
                &:before {
                    background: #000;
                }
            }
        }
        &.active {
            transition: 0.5s;
            span {
                background: transparent;
                transition: 0.5s;
                &:before {
                    transform: rotateZ(45deg);
                    // transform-origin: 0 0;
                    top: 0;
                    transition: 0.5s;
                }
                &:after {
                    transform: rotateZ(-45deg);
                    // transform-origin: 0 0;
                    bottom: 0;
                    transition: 0.5s;
                }
            }
        }
    }
    &__wrap {
        position: absolute;
        // border: 1px solid #fff;
        min-height: 1px;
        width: (1180*100/1280)+%;
        height: (1180*100/1280)+%;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        @media (max-width: $screen-sm-max){
            width: 100%;
            height: 415px;
        }
    }
    &__wrap--index-page {
        width: 105%;
        height: 100%;
        // border: 30px solid #fff;
        @media (max-width: $screen-lg-max) {
            border-width: 22px;
        }
        @media (max-width: $screen-md-max) {
            border-width: 20px;
        }
        @media (max-width: $screen-sm-max) {
            border-width: 10px;
        }
    }
    &__navigation {
        height: 100%;
    }
    &__left-btn {
        // @include position(fixed,0 null 0 5%);
        position: fixed;
        // top: 3.5%;
        top: 50%;
        transform: translateY(-50%);
        // bottom: 0;
        left: 7.9%;
        margin: auto;
        display: block;
        height: 16px;
        color: #fff;
        text-decoration: none;
        z-index: 15;
        font-family: $dietdidot;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        // transition: 1.5s ease;
        // transition-delay: 1s;
        span {
            position: relative;
            top: -6px;
            // left: 50px;
            letter-spacing: 2.8px;
            // -webkit-font-smoothing: antialiased;
            // text-shadow: rgba(0,0,0,.01) 0 0 1px;
            // text-rendering: optimizeLegibility;
        }
        &.black {
            color: transparent;
            svg {
                fill: none;
                stroke: #000;
                stroke-miterlimit: 10;
            }
        }
        .icon {
            width: 33.7px;
            height: 15px;
            // float: left;
            margin-right: 20px;
            left: -50px;
            top: 0;
            position: absolute;
            @media (max-width: $screen-sm-max) {
                display: none;
            }
            &--mobile {
                display: none;
                @media (max-width: $screen-sm-max) {
                    display: block;
                }
            }
        }
        svg {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
        &.to-center {
            z-index: 6;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 90px;
            line-height: 15px;
            transition: 1.5s ease;
            transition-delay: 1s;
            display: block;
            @media (max-width: $screen-sm-max) {
                top: 50%;
                font-size: 40px;
            }
        }
        &:hover {
            .icon {
                transform: translateX(-5px);
            }
        }
        @media (max-width: $screen-lg-max) {
            left: 2.9vw;
            &--index-page {
                left: 9.9vw;
            }
        }
        @media (max-width: $screen-md-max) {
            font-size: 21px;
            top: 50%;
        }
        @media (max-width: $screen-sm-max) {
            position: absolute;
            font-size: 11px;
            top: 57%;
            left: 41vw;
            opacity: 0;
            display: none;
            span {
                letter-spacing: 1.8px;
                top: -5px;
            }
            .icon {
                left: -19px;
                top: -2px;
            }
        }
    }
    &__right-btn {
        // @include position(fixed,0 null 0 5%);
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        // bottom: 0;
        right: 7.9%;
        margin: auto;
        display: inline-block;
        height: 16px;
        color: #fff;
        text-decoration: none;
        z-index: 15;
        font-family: $gothamprobold;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        &--index-page {
            font-family: $gothamprobold;
        }
        span {
            position: relative;
            top: -6px;
            letter-spacing: 2.8px;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
        &.black {
            color: transparent;
            svg {
                fill: none;
                stroke: #000;
                stroke-miterlimit: 10;
            }
        }
        &.white {
            color: transparent;
            // z-index: 4;
            svg {
                fill: none;
                stroke: #fff;
                stroke-miterlimit: 10;
            }
        }
        .icon {
            width: 33.7px;
            height: 15px;
            float: right;
            margin-left: 20px;
            right: -50px;
            top: 0;
            position: absolute;
            @media (max-width: $screen-sm-max) {
                display: none;
            }
            &--mobile {
                display: none;
                @media (max-width: $screen-sm-max) {
                    display: block;
                }
            }
        }
        svg {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
        &.to-center {
            z-index: 6;
            right: 50%;
            transform: translate(50%,-50%);
            font-size: 90px;
            line-height: 15px;
            // transition: .2s ease;
            display: block;
            .icon {
                display: none;
            }
            @media (max-width: $screen-lg-max) {
                font-size: 83px;
            }
            @media (max-width: $screen-sm-max) {
                top: 50%;
                font-size: 40px;
            }
        }
        @media (max-width: $screen-lg-max) {
            right: 2.9vw;
            &--index-page {
                right: 9.9vw;
            }
        }
        @media (max-width: $screen-md-max) {
            font-size: 21px;
            // top: 0;
            // right: 0;
        }
        @media (max-width: $screen-sm-max) {
            position: absolute;
            font-size: 9px;
            top: 43%;
            right: 44%;
            opacity: 0;
            display: none;
            span {
                letter-spacing: 1px;
            }
            .icon {
                right: -22px;
                top: -4px;
            }
        }
    }
    &__down-btn {
        @include position(absolute,null 0 0 0);
        margin: auto;
        display: inline-block;
        text-align: center;
        width: 10px;
        height: 32px;
        svg {
            width: 14.7px;
            height: 33.7px;
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }
}
.view {
    .header__menu {
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}
.header-inner {
    @media(max-width: $screen-md-max) {
        min-height: 75vh;
    }
    @media (max-width: $screen-sm-max) {
        min-height: 415px;
    }
}
.project-back {
    position: absolute;
    top: 51px;
    right: 3.9vw;
    z-index: 2;
    transition: 0.1s ease;
    svg {
        fill: #fff;
        width: 25px;
        height: 25px;
    }
    &:hover {
        transform: scale(1.1);
        transition: 0.1s ease;
    }
    @media (max-width: $screen-sm-max) {
        top: 19px;
        z-index: 2;
        right: 20px;
    }
}
// .container {
//     max-width: 1120px;
// }
/* ---- isotope ---- */
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
/* ---- .grid-item ---- */
.grid-item,
.grid-sizer {
    width: 33.333%;
    @media(max-width: $screen-sm-max) {
        width: 100%;
    }
}
.grid-item {
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
    // @include aspect-ration();
    @media(max-width: $screen-lg-max) {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    @media (max-width: $screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
    }
    span {
        display: block;
        position: relative;
        $clip: (20*340/100);
    }
    img {
        width: 100%;
        // position: absolute;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        transition: 0.3s ease;
    }
    &:hover {
        img {
            -webkit-clip-path: inset(20px);
            clip-path: inset(20px);
            transition: 0.3s ease;
            @media (max-width: $screen-sm-max) {
                -webkit-clip-path: inset(0px);
                clip-path: inset(0px);
            }
        }
    }
}
.img-wrapper {
    display: block;
    img {
        width: 100%;
    }
    &.fullscreen {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    img {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
        transition: 0.7s ease;
    }
    &.masked {
        img {
            -webkit-clip-path: inset(20px);
            clip-path: inset(20px);
            transition: 0.6s ease;
        }
    }
}
.project-main__item {
    .img-wrapper {
        display: block;
        position: relative;
        $clip: (20*340/100);
        &:before {
            content: '';
            position: absolute;
            -webkit-clip-path: inset(20px);
            clip-path: inset(20px);
            transition: 0.3s ease;
            background: #231F20;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.2s ease;
            // transition-delay: .5s;
        }
        @media (max-width: $screen-sm-max) {
            &:before {
                -webkit-clip-path: inset(0px);
                clip-path: inset(0px);
            }
        }
    }
    .project-main__name {
        color: #fff;
        position: absolute;
        bottom: 51px;
        width: 50%;
        left: 67px;
        letter-spacing: 2px;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.2s ease;
        z-index: 3;
        font-family: $gothamprolight;
        font-size: 20px;
        line-height: 26px;
        @media (max-width: $screen-md-max) {
            bottom: 22px;
            left: 33px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 20px;
        }
    }
    img {
        width: 100%;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
        transition: 0.3s ease;
    }
    &:hover {
        img {
            -webkit-clip-path: inset(20px);
            clip-path: inset(20px);
            transition: 0.3s ease;
            @media (max-width: $screen-sm-max) {
                -webkit-clip-path: inset(0px);
                clip-path: inset(0px);
            }
        }
        .img-wrapper {
            &:before {
                opacity: 0.7;
                transition: opacity 0.2s ease;
                transition-delay: 0.2s;
                @media (max-width: $screen-sm-max) {
                    -webkit-clip-path: inset(0px);
                    clip-path: inset(0px);
                }
            }
        }
        .project-main__name {
            opacity: 1;
            transform: translateY(0px);
            transition: 0.2s ease;
            transition-delay: 0.5s;
        }
    }
}
.ie-10,
.ie-11 {
    .header__left-btn.to-center,
    .header__right-btn.to-center {
        transition: 0s ease 1s,transform 0s 0.7s;
    }
    .header__left-btn,
    .header__right-btn {
        transition: 0s ease 1s;
    }
}
.safari,
.firefox,
.ie-10,
.ie-11 {
    .project-main__item {
        .img-wrapper {
            overflow: hidden;
            z-index: 2;
            // height: 300px;
            box-sizing: border-box;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0 solid #fff;
                z-index: 2;
                box-sizing: border-box;
                transition: border 0.3s ease;
                background: rgba(35,31,32,0);
                opacity: 1;
            }
            img {
                // position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }
        &:hover {
            .img-wrapper {
                &:before {
                    background: rgba(35,31,32,0.7);
                    border: 20px solid #fff;
                    transition: border 0.3s ease;
                }
            }
        }
    }
}
.img-moving {
    position: absolute;
    /* top: 50%; */
    width: 100%;
    height: 100%;
    transition: transform 12s cubic-bezier(0.23, 1, 0.32, 1);
}
.grid-item img {
    display: block;
    max-width: 100%;
}
.header-target {
    .img-wrapper {
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
        // transition: 0.2s;
        img {
            position: absolute;
        }
        &.masked {
            -webkit-clip-path: inset(20px);
            clip-path: inset(20px);
            // transition: 0.2s;
        }
    }
    &.img-fix {
        .img-wrapper {
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
.container {
    // @media (max-width: ;)
}
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #4a4645;
    display: none;
    top: 0;
    left: 0;
    z-index: 5;
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    width: 100%;
    height: 100%;
    background: #232020;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    overflow: hidden;
    .bg-wrapper {
        width: 100%;
        height: 100%;
        // border: 30px solid #232020;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 30px solid #232020;
            box-sizing: border-box;
        }
        &.active {
            &:before {
                border: 0 solid #232020;
                transition: border 0.5s ease;
            }
        }
    }
    &__img {
        opacity: 0;
        position: absolute;
        top: 0;
        &.bgwidth {
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
        &.bgheight {
            height: 100%;
            max-width: none;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 66%;
        font-size: 50px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            height: 100%;
            position: relative;
            li {
                display: block;
                height: 33%;
                // height: calc(100% / 3);
                min-height: 54px;
                transform: translateY(-50px);
                a {
                    font-weight: 300;
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    transition: 0.2s;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2.8px;
                    line-height: 15px;
                    height: 100%;
                    // span{}
                    transform: translateY(0);
                    transition: 1.3s ease;
                    &:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                    &.to-center {
                        // z-index: 6;
                        font-size: 90px;
                        // transition: 1.3s ease;
                        letter-spacing: 2.8px;
                    }
                }
                &:nth-child(1) {
                    a {
                        font-family: $dietdidot;
                        font-size: 54px;
                        letter-spacing: 2.8px;
                    }
                }
                &:nth-child(2) {
                    a {
                        font-family: $gothamprobold;
                        font-size: 50px;
                        letter-spacing: 2.8px;
                        &.to-center {
                            font-size: 83px;
                        }
                    }
                }
                &:nth-child(3) {
                    a {
                        font-family: $dietdidot;
                        font-size: 45px;
                        letter-spacing: 2.8px;
                    }
                }
            }
        }
    }
    &.active {
        transform: translateY(0);
        transition: 0.3s ease;
        nav {
            ul {
                li {
                    transform: translateY(0);
                    &:nth-child(1) {
                        transition: 0.8s ease 0s;
                        // transition-delay: 0s;
                    }
                    &:nth-child(2) {
                        transition: 0.8s ease 0.1s;
                    }
                    &:nth-child(3) {
                        transition: 0.8s ease 0.2s;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        transform: translateY(-100%);
        height: auto;
        overflow: visible;
        .bg-wrapper {
            background: #F2F2F2;
            border: none;
            height: auto;
            &:after {
                content: '';
                @include triangle(23px, #F2F2F2, down);
                @include position(absolute,null 21px 0 null);
            }
            &:before{
              display: none;
            }
            nav {
                top: 0;
                height: auto;
                font-size: 30px;
                padding: 30px;
                transform: translateY(0);
                ul {
                    li {
                        transform: translateY(0);
                        &:not(:last-child) {
                            margin-bottom: 16px;
                            height: auto;
                            min-height: auto;
                        }
                        a {
                            font-size: 30px;
                            color: #000000;
                        }
                    }
                }
            }
        }
        &.active {
            transform: translateY(0);
            transition: 0.3s ease;
            .bg-wrapper {
                &:after {
                    bottom: -11px;
                }
            }
        }
    }
}
body {
    overflow-x: hidden;
}
.view {
    transform-origin: 50% 0;
    .page-wrapper {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
    }
}
// svg styles
// @media (max-width: $screen-sm-max) {
//     #arrows-right {
//         #XMLID_619_ {
//             display: none;
//         }
//     }
//     #arrows-left {
//         #XMLID_4_ {
//             display: none;
//         }
//     }
// }
