.bureau {
    position: relative;
    z-index: 7;
    padding-top: 245px;
    background: #fff;
    @media (max-width: $screen-lg-max) {
        padding-top: 224px;
    }
    @media (max-width: $screen-md-max) {
        padding-top: 218px;
    }
    @media (max-width: $screen-sm-max) {
        padding-top: 102px;
    }
    .team-img-hover {
        position: absolute;
        top: 50px;
        left: 0;
        opacity: 0;
        // transform: translateY(-50%);
        z-index: 1;
        max-width: 545px;

        @media (max-width: $screen-lg-max) {
            max-width: 427px;
        }
        @media (max-width: $screen-sm-max){
            display: none;
        }

        // &.top{
            // position: absolute;
            // top: 15px;
            // transform: translateY(0%);
        // }
    }
    &__title {
        margin-bottom: 75px;
        padding-left: 97px;
        letter-spacing: 2px;
        font-family: $dietdidot;
        font-size: 60px;
        line-height: 70px;
        .mobile {
            display: none;
            @media (max-width: $screen-sm-max) {
                display: block;
            }
        }
        @media (max-width: $screen-lg-max) {
            margin-bottom: 78px;
            padding-left: 70px;
            letter-spacing: 0.7px;
            font-size: 60px;
            line-height: 62px;
        }
        @media (max-width: $screen-md-max) {
            margin-bottom: 109px;
            padding-left: 73px;
            letter-spacing: 1px;
            font-size: 40px;
            line-height: 45px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 30px;
            line-height: 35px;
            padding-left: 0;
            margin-bottom: 51px;
        }
    }
    &__about {
        position: relative;
        // margin-left: 100px;
        margin-bottom: 110px;
        // opacity: 0;
        transform: translateY(50px);
        @media (max-width: $screen-lg-max) {
            // margin-left: 0;
            margin-bottom: 60px;
        }
        @media (max-width: $screen-md-max) {
            left: -3px;
        }
        @media (max-width: $screen-sm-max) {
            left: 0;
            padding-left: 2px;
            margin-bottom: 27px;
        }
        &.animation {
            opacity: 1;
            transform: translateY(0px);
            transition: opacity 0.5s ease-in-out 0s, transform 0.5s ease-in-out;
        }
    }
    &__about-title {
        position: absolute;
        // padding-top: 7px;
        top: 7px;
        left: 97px;
        text-transform: uppercase;
        color: #010204;
        font-family: $gothamprobold;
        font-size: 12px;
        @media (max-width: $screen-lg-max) {
            // margin-left: 0;
            left: 72px;
        }
        @media (max-width: $screen-md-max) {
            // left: 0;
            position: static;
            margin-bottom: 38px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 19px;
        }
    }
    &__about-text {
        width: 981px;
        padding-left: 282px;
        color: #6B6B6A;
        font-family: $gothamproreg;
        font-size: 14px;
        line-height: 30px;
        p {
            padding-bottom: 30px;
        }
        @media (max-width: $screen-lg-max) {
            width: 100%;
            padding-right: 131px;
            padding-left: 223px;
        }
        @media (max-width: $screen-md-max) {
            width: 100%;
            padding-right: 155px;
            padding-left: 0;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 12px;
            line-height: 25px;
            padding-right: 0;
            p {
                padding-bottom: 25px;
            }
        }
    }
    &__slider-dots {
        position: absolute;
        bottom: 49px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
        font-size: 0;
        @media (max-width: $screen-sm-max) {
            bottom: 29px;
        }
        li {
            display: inline-block;
            //background: #fff;
            margin: 0 3px;
            a {
                display: block;
                width: 14px;
                height: 14px;
                border: 1px solid #fff;
                border-radius: 50%;
                &.active {
                    background: #ffffff;
                }
            }
        }
    }
    &__slider {
        position: relative;
        overflow: hidden;
        height: 100vh;
        //background: url(../img/bureau-slide-1.jpg) no-repeat;
        background-size: cover;
        @media (max-width: $screen-sm-max){
            height: auto;
        }
    }
    &__slider-link {
        color: #fff;
        font-family: $dietdidot;
        font-size: 20px;
        text-decoration: none;
        position: relative;
        margin-left: 6px;
        margin-top: 50px;
        display: inline-block;
        span {
            margin-right: 15px;
        }
        svg {
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 15px;
            width: 33.7px;
            height: 15px;
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
        @media (max-width: $screen-sm-max){
            display: none;
        }
    }
    &__slider-item {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(0%);
        //z-index: 1;
        transition: 0.6s ease;
        background-position: right;
        overflow: hidden;
        &.right {
            transform: translateX(100%);
            transition: 0s ease;
            .bureau__slider-info {
                transform: translateX(500px);
                transition: 1.4s ease;
            }
            @media (max-width: $screen-sm-max) {
                transition: 0.5s ease;
                .bureau__slider-info {
                    transform: translateX(30px);
                    transition: 0.8s ease;
                }
            }
        }
        &.left {
            transform: translateX(-100%);
            transition: 0s ease;
            .bureau__slider-info {
                transform: translateX(-100px);
                transition: 1.4s ease;
            }
            @media (max-width: $screen-sm-max) {
                transition: 0.5s ease;
                .bureau__slider-info {
                    transform: translateX(-30px);
                    transition: 0.5s ease;
                }
            }
        }
    }
    &__slider-title {
        margin-bottom: 20px;
        color: #fff;
        font-family: $dietdidot;
        font-size: 60px;
        line-height: 75px;
        @media (max-width: $screen-md-max) {
            margin-bottom: 15px;
            letter-spacing: 1.1px;
            font-size: 40px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 30px;
            line-height: 30px;
            width: 50%;
            top: 38px;
            left: 24px;
            position: absolute;
        }
    }
    &__slider-text {
        width: 617px;
        padding-left: 5px;
        color: #fff;
        font-family: $gothamproreg;
        font-size: 20px;
        line-height: 40px;
        @media (max-width: $screen-md-max) {
            padding-left: 0;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: 25px;
            position: absolute;
            left: 24px;
            bottom: 63px;
            width: 87%;
        }
    }
    &__slider-info {
        position: relative;
        z-index: 1;
        padding-top: 215px;
        padding-left: 100px;
        transform: translateX(0px);
        transition: transform 0.5s ease-in-out 0.2s;
        @media (max-width: $screen-md-max) {
            padding-top: 222px;
            padding-left: 51px;
        }
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            padding-top: 0;
            height: 100%;
        }
        .bureau__slider-title {
            opacity: 0;
            transform: translateY(50px);
        }
        .bureau__slider-text {
            opacity: 0;
            transform: translateY(50px);
        }
        .bureau__slider-link {
            opacity: 0;
            transform: translateY(50px);
        }
        &.animation {
            .bureau__slider-title {
                opacity: 1;
                transform: translateY(0px);
                transition: opacity 0.5s ease-in-out 0s, transform 0.35s ease-in-out 0.1s;
            }
            .bureau__slider-text {
                opacity: 1;
                transform: translateY(0px);
                transition: 0.5s ease-in-out;
                transition-delay: 0.3s;
            }
            .bureau__slider-link {
                opacity: 1;
                transform: translateY(0px);
                transition: 0.5s ease-in-out;
                transition-delay: 0.5s;
            }
        }
    }
    &__img-wrapper {
        height: 100%;
        width: 105%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__slider-img {
        position: absolute;
        top: 0;
        transition: opacity 0.1s;
        transition-delay: 1s;
        &.bgwidth {
            top: 50%;
            width: 100.1%;
            transform: translateY(-50%);
        }
        &.bgheight {
            left: 50%;
            width: auto;
            max-width: none;
            height: 100%;
            transform: translateX(-50%);
            @media (max-width: $screen-sm-max){
                left: auto;
                right: 0;
                transform: translateX(0%);

            }
        }
    }
    &__team {
        padding-top: 140px;
        padding-bottom: 60px;
        background: #F4F4F4;
        position: relative;
        .container {
            position: relative;
            @media (max-width: $screen-md-max) {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        @media (max-width: 1600px) {
            // padding-bottom: 0;
            // margin-bottom: -60px;
            padding-bottom: 60px;
        }
        @media (max-width: $screen-lg-max) {
            padding-top: 90px;
            padding-bottom: 85px;
            margin-bottom: 0;
        }
        @media (max-width: $screen-md-max) {
            padding-top: 99px;
        }
        @media (max-width: $screen-sm-max) {
            padding-top: 59px;
            padding-bottom: 50px;
            margin-bottom: 0;
        }
        &.animation {
            .bureau__team-title {
                transform: translateY(0);
                transition: 0.4s ease;
            }
            .new-list {
                &:nth-child(1) {
                    transform: translateY(0);
                    transition: 0.3s ease;
                }
                &:nth-child(2) {
                    transform: translateY(0);
                    transition: 0.2s ease;
                }
                &:nth-child(3) {
                    transform: translateY(0);
                    transition: 0.3s ease;
                }
            }
        }
    }
    .new-list {
        position: relative;
        z-index: 2;
        li {
            cursor: pointer;
            &:hover {
                .bureau__team-person {
                    color: #000000;
                }
                .bureau__team-img {
                    position: fixed;
                }
            }
        }
        &:nth-child(1) {
            transform: translateY(140px);
            @media (max-width: $screen-md-max) {
                transform: translateY(0px);
            }
        }
        &:nth-child(2) {
            transform: translateY(100px);
            @media (max-width: $screen-md-max) {
                transform: translateY(0px);
            }
        }
        &:nth-child(3) {
            transform: translateY(180px);
            @media (max-width: $screen-md-max) {
                transform: translateY(0px);
            }
        }
    }
    &__team-title {
        position: absolute;
        top: 10px;
        left: 112px;
        text-transform: uppercase;
        color: #010204;
        font-family: $gothamprobold;
        font-size: 12px;
        transform: translateY(75px);
        @media (max-width: $screen-lg-max) {
            left: 91px;
        }
        @media (max-width: $screen-md-max) {
            position: static;
            margin-bottom: 37px;
            transform: translateY(0px);
        }
        @media (max-width: $screen-sm-max) {
            transform: translateY(0px);
            padding-left: 9px;
            margin-bottom: 12px;
        }
    }
    &__team-img {
        position: fixed;
        top: 50%;
        left: 0;
        display: none;
        transform: translateY(-50%);
    }
    .team-count {
        font-family: $dietdidot;
        font-size: 30px;
        text-align: center;
        margin-top: 5px;
    }
    &__team-list {
        padding-left: 283px;
        @media (max-width: $screen-lg-max) {
            padding-left: 223px;
        }
        @media (max-width: $screen-md-max) {
            padding-left: 0;
        }
        ul {
            list-style-type: none;
            .slick-slide {
                width: 290px;
                height: 290px;
                position: relative;
                .bureau__team-img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    transform: none;
                }
                .bureau__team-person {
                    position: absolute;
                    bottom: 26px;
                    z-index: 1;
                    color: #fff;
                    font-size: 14px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 15pxs;
                }
            }
            .slick-next,
            .slick-prev {
                font-size: 0;
                line-height: 0;
                position: absolute;
                bottom: -43px;
                display: block;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                padding: 0;
                cursor: pointer;
                color: transparent;
                border: none;
                outline: none;
                background: transparent;
            }
            .slick-prev {
                left: 0;
                &:before {
                    content: '';
                    width: 15px;
                    height: 33.7px;
                    background: url("../img/arrows-left.svg");
                    position: absolute;
                    bottom: 0;
                    z-index: 1;
                    transform: rotateZ(90deg);
                }
            }
            .slick-next {
                right: 0;
                &:before {
                    content: '';
                    width: 15px;
                    height: 33.7px;
                    background: url("../img/arrows-left.svg");
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    z-index: 1;
                    transform: rotateZ(-90deg);
                }
            }
        }
        .new-list {
            float: left;
            width: 33%;
            @media (max-width: $screen-md-max) {
                &:nth-child(1) {
                    width: 34.5%;
                }
                &:nth-child(2) {
                    width: 34%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
            }
        }
    }
    &__team-person {
        color: #6B6B6B;
        font-family: $gothamproreg;
        font-size: 14px;
        line-height: 35px;
        display: inline-block;
    }
}
.honors {
    padding: 147px 0;
    border: 30px solid #fff;
    background: #1C1C1C;
    @media (max-width: $screen-md-max) {
        border-width: 20px;
        padding: 51px 0 45px;
    }
    @media (max-width: $screen-sm-max) {
        border-width: 0;
        padding: 50px 10px 55px;
    }
    .container {
        position: relative;
        padding-left: 185px;
        @media (max-width: $screen-lg-max) {
            padding-left: 20px;
        }
        @media (max-width: $screen-md-max) {
            padding-left: 15px;
        }
    }
    &__title {
        position: absolute;
        top: 1px;
        left: 111px;
        text-transform: uppercase;
        color: #fff;
        font-family: $gothamprobold;
        font-size: 12px;
        @media (max-width: $screen-lg-max) {
            left: 91px;
        }
        @media (max-width: $screen-md-max) {
            position: static;
            margin-bottom: 47px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 23px;
        }
    }
    &__list {
        margin-bottom: 33px;
        padding-right: 96px;
        padding-left: 113px;
        height: 302px;
        overflow: hidden;
        transition: height 0.8s ease-in-out;
        @media (max-width: $screen-lg-max) {
            padding-right: 67px;
            padding-left: 223px;
        }
        @media (max-width: $screen-md-max) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width: $screen-sm-max) {
            height: 359px;
            margin-bottom: 22px;
        }
        ul {
            list-style-type: none;
            @media (max-width: $screen-lg-max) {
                margin-bottom: 54px;
            }
            li {
                position: relative;
                overflow: hidden;
                margin-bottom: 18px;
                color: #fff;
                z-index: 0;

                &:before {
                    position: absolute;
                    bottom: 7px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    content: '';
                    opacity: 0.2;
                    background: url("../img/line.png") repeat-x;
                }

                @media (max-width: $screen-lg-max) {
                    margin-bottom: 20px;
                }
                @media (max-width: $screen-sm-max) {
                    font-size: 13px;
                    line-height: 20px;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    &__name {
        position: relative;
        z-index: 1;
        float: left;
        text-transform: uppercase;
        background: #1C1C1C;
        font-family: $gothamprobold;
        font-size: 13px;
    }
    &__list-name {
        position: relative;
        z-index: 1;
        top: -2px;
        float: right;
        letter-spacing: 1.7px;
        background: #1C1C1C;
        font-family: $dietdidot;
        font-size: 16px;
        @media (max-width: $screen-lg-max) {
            // padding-left: 223px;
            // padding-right: 67px;
            font-size: 15px;
        }
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
    &__link {
        position: relative;
        margin-left: 112px;
        text-decoration: none;
        letter-spacing: -0.8px;
        text-transform: uppercase;
        color: #fff;
        font-family: $gothamprobold;
        font-size: 13px;
        &:after {
            position: absolute;
            top: 25%;
            right: -29px;
            width: 20px;
            height: 8px;
            content: '';
            background: url("../img/small-arrow.svg") no-repeat;
            transition: transform 0.2s;
        }
        &.active {
            &:after {
                transform: rotateZ(180deg);
                transition: transform 0.2s;
            }
        }
        @media (max-width: $screen-lg-max) {
            margin-left: 223px;
            letter-spacing: -0.2px;
            font-size: 12px;
        }
        @media (max-width: $screen-md-max) {
            margin-left: 0;
        }
    }
}
.clients {
    position: relative;
    padding-top: 110px;
    padding-bottom: 140px;
    @media (max-width: $screen-lg-max) {
        padding-top: 61px;
        padding-bottom: 90px;
    }
    @media (max-width: $screen-md-max) {
        padding-top: 78px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: $screen-sm-max) {
        padding-top: 59px;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__wrapper {
        @media (max-width: $screen-sm-max) {
            height: 329px;
            overflow: hidden;
            transition: height 0.8s ease-in-out;
            margin-bottom: 16px;
        }
    }
    &__link {
        display: none;
        @media (max-width: $screen-sm-max) {
            display: inline-block;
            position: relative;
            // margin-left: 112px;
            text-decoration: none;
            letter-spacing: -0.8px;
            text-transform: uppercase;
            color: #000;
            font-family: $gothamprobold;
            font-size: 13px;
            &:after {
                position: absolute;
                top: 25%;
                right: -29px;
                width: 20px;
                height: 8px;
                content: '';
                background: url("../img/small-arrow-black.svg") no-repeat;
                transition: transform 0.2s;
            }
            &.active {
                &:after {
                    transform: rotateZ(180deg);
                    transition: transform 0.2s;
                }
            }
        }
    }
    &__title {
        position: absolute;
        top: 119px;
        left: 112px;
        text-transform: uppercase;
        color: #000;
        font-family: $gothamprobold;
        font-size: 12px;
        @media (max-width: $screen-lg-max) {
            top: 69px;
            left: 91px;
        }
        @media (max-width: $screen-md-max) {
            position: static;
            margin-bottom: 40px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 19px;
        }
    }
    &__list {
        padding-left: 260px;
        @media (max-width: $screen-lg-max) {
            padding-left: 202px;
        }
        @media (max-width: $screen-md-max) {
            padding-left: 0;
        }
        ul {
            float: left;
            width: 33.33333%;
            padding-left: 21px;
            list-style-type: none;
            text-transform: uppercase;
            color: #6B6B6B;
            font-family: $gothamproreg;
            font-size: 13px;
            line-height: 30px;
            @media (max-width: $screen-md-max) {
                padding-left: 0;
            }
            @media (max-width: $screen-sm-max) {
                float: none;
                width: 100%;
            }
        }
    }
}
