.contacts {
    position: relative;
    z-index: 2;
    padding-top: 245px;
    background: #fff;
    padding: 228px 0 50px;
    #map {
        width: 100%;
        margin: 0 auto;
        height: 541px;
    }
    .map-container {
        max-width: 1183px;
        @media(max-width: 1200px) {
            max-width: inherit;
        }
    }
    &__wrap {
        position: relative;
        margin-bottom: 92px;
        transform: translateY(50px);
    }
    &.animation{
        .contacts__wrap{
            transform: translateY(0px);
            transition: transform 0.5s ease-in-out;
        }
    }
    &__title {
        font-family: $gothamprobold;
        font-size: 12px;
        position: absolute;
        top: 2px;
        left: 96px;
        text-transform: uppercase;
    }
    &__text {
        padding-left: 282px;
        font-family: $gothamproreg;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &__contact-row {
        margin-bottom: 19px;
        display: block;
        text-decoration: none;
        color: #000;
        br {
            display: none;
        }
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media (max-width: $screen-lg-max) {
            padding: 160px 0 79px;
        &__title {
            left: 72px;
        }
        &__text {
            padding-left: 224px;
        }
        &__contact-row {
            span {
                display: block;
                margin-top: 19px;
            }
            .desktop {
                display: none;
            }
        }
    }
    @media (max-width: $screen-md-max) {
            padding: 160px 0 79px;
        &__title {
            position: static;
            margin-top: 3px;
            margin-bottom: 45px;
        }
        &__text {
            padding-left: 0;
        }
    }
    @media (max-width: $screen-sm-max) {
        padding: 122px 0 40px;
        &__title {
            margin-bottom: 25px;
            padding-left: 5px;
        }
        &__text {
            padding-left: 5px;
        }
        &__contact-row {
            margin-bottom: 17px;
            span {
                margin-top: 1px;
                line-height: 21px;
            }
        }
    }
}
//
// .footer {
//     background: #f4f4f4;
//     color: #000;
//     position: relative;
//
// }
