.view.index{
    .page-wrapper{
        z-index: 1;
    }
    .logo--index-page{
        position: absolute;
        z-index: 2;
    }
    .header{
        position: relative;
    }

    .footer{
        position: fixed;
        bottom: 0;
        z-index: 0;
    }


}

.fixed-elements.index{
    .header__left-btn,
    .header__right-btn{
        position: absolute;
    }
}
