.project-main {
    // margin-top: 100vh;
    position: relative;
    z-index: 7;
    padding-top: 224px;
    padding-bottom: 50px;
    // transform: translateY(100vh);
    background: #fff;
    &__title {
        margin-bottom: 69px;
        transition: 0.7s ease-in-out;
        transform: translateY(150px);
        letter-spacing: 1.4px;
        color: #000;
        font-family: $gothamprobold;
        font-size: 55px;
    }
    &.animation {
        .project-main__title {
            transition: 0.7s ease-out;
            transform: translateY(0px);
        }
    }
    &__wrapper {
        &:not(:last-child) {
            padding-bottom: 140px;
        }
    }
    @media(max-width: $screen-lg-max) {
        padding-top: 187px;
        &__title {
            margin-bottom: 39px;
            padding-left: 71px;
            transform: translateY(50px);
            letter-spacing: 2px;
            font-size: 54px;
        }
        &__wrapper {
            &:not(:last-child) {
                padding-bottom: 69px;
            }
        }
    }
    @media (max-width: $screen-md-max) {
        padding-top: 198px;
        &__title {
            margin-bottom: 42px;
            font-size: 40px;
            padding-left: 65px;
            letter-spacing: 1px;
        }
    }
    @media (max-width: $screen-sm-max) {
        padding-top: 118px;
        &__title {
            padding-left: 0;
            font-size: 30px;
            margin-bottom: 24px;
        }
        &__wrapper {
            .row {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}
.container {
    @media (max-width: $screen-lg-max) {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.project-main .project-main__wrapper {
    &:nth-child(2) {
        .grid {
            .project-main__item {
                transform: translateY(150px);
                @media (max-width: $screen-lg-max) {
                    transform: translateY(50px);
                }
            }
            &.animation {
                .project-main__item {
                    transition: transform 0.9s ease-out;
                    transform: translateY(0px);
                    &.active {
                        opacity: 0;
                        transition: opacity 0s ease 0.1s;
                        // transition-delay: 0.2s;
                        .img-wrapper {
                            &:before {
                                transition-delay: 0s;
                            }
                        }
                    }
                }
            }
        }
    }
}
.grid {
    .project-main__item {
        overflow: hidden;
        transition: transform 0.9s ease-in-out;
        // transform: translateY(150px);
        &.active {
            // transition-delay: 1s;
            // transition: 1.5s ease-in-out;
            // opacity: 0;
        }
        @media (max-width: $screen-lg-max) {
            // transform: translateY(50px);
        }
    }
    &.animation {
        .project-main__item {
            transition: transform 0.9s ease-out;
            transform: translateY(0px);
            &.active {
                opacity: 0;
                transition: opacity 0s ease;
                // transition-delay: 0.2s;
                .img-wrapper {
                    &:before {
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}
.project-inner {
    position: relative;
    z-index: 2;
    padding-top: 144px;
    // margin-top: 100vh;
    background: #fff;
    @media (max-width: $screen-lg-max) {
        padding-top: 175px;
    }
    @media (max-width: $screen-md-max) {
        padding-top: 88px;
    }
    @media (max-width: $screen-sm-max) {
        padding-top: 64px;
    }
    &__info-wrapper {
        margin-bottom: 59px;
        transition: 0.7s ease-in-out;
        transform: translateY(60px);
        &.animation {
            transition: 0.7s ease-in-out;
            transition-delay: 0.4s;
            transform: translateY(0);
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 7px;
        }
    }
    &__title {
        margin-bottom: 17px;
        padding-left: 281px;
        transition: 0.7s ease-in-out;
        transform: translateY(60px);
        font-family: $gothamprolight;
        font-size: 40px;
        line-height: 50px;
        &.animation {
            transition: 0.7s ease-in-out;
            transition-delay: 0.1s;
            transform: translateY(0);
        }
        @media (max-width: $screen-lg-max) {
            padding-left: 222px;
        }
        @media (max-width: $screen-md-max) {
            margin-bottom: 13px;
            padding-left: 149px;
            font-size: 30px;
        }
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
    &__detail {
        margin-bottom: 82px;
        padding-left: 282px;
        transition: 0.7s ease-in-out;
        transform: translateY(60px);
        font-family: $gothamproreg;
        font-size: 14px;
        &.animation {
            transition: 0.7s ease-in-out;
            transition-delay: 0.2s;
            transform: translateY(0);
        }
        @media (max-width: $screen-lg-max) {
            padding-left: 224px;
        }
        @media (max-width: $screen-md-max) {
            padding-left: 150px;
            margin-bottom: 80px;
        }
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            margin-bottom: 37px;
        }
    }
    &__detail-items-wrap {
        width: 69%;
        @media (max-width: $screen-md-max) {
            width: 90%;
        }
        @media (max-width: $screen-sm-max) {
            width: 100%;
        }
    }
    &__detail-item {
        float: left;
        width: 33.33333%;
        @media (max-width: $screen-sm-max) {
            float: none;
            width: 100%;
            padding-right: 11%;
            margin-bottom: 19px;
            @include clearfix();
        }
    }
    &__detail-name {
        margin-bottom: 4px;
        @media (max-width: $screen-sm-max) {
            float: left;
            width: 67%;
        }
    }
    &__detail-value {
        @media (max-width: $screen-sm-max) {
            float: left;
            font-family: $gothamprobold;
        }
    }
    &__sub-title {
        margin-bottom: 73px;
        transition: 0.7s ease-in-out;
        transform: translateY(60px);
        font-family: $dietdidot;
        font-size: 60px;
        padding-left: 6px;
        line-height: 75px;
        letter-spacing: 1.8px;
        &.animation {
            transition: 0.7s ease-in-out;
            transition-delay: 0.3s;
            transform: translateY(0);
        }
        @media (max-width: $screen-lg-max) {
            padding-left: 0;
        }
        @media (max-width: $screen-md-max) {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 88px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 30px;
            line-height: 45px;
            margin-bottom: 44px;
        }
    }
    &__info {
        position: relative;
        margin-bottom: 80px;
        padding-left: 281px;
        @media (max-width: $screen-lg-max) {
            padding-left: 223px;
        }
        @media (max-width: $screen-md-max) {
            margin-bottom: 87px;
            padding-left: 0;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 49px;
        }
    }
    &__info-title {
        position: absolute;
        top: 9px;
        left: 97px;
        text-transform: uppercase;
        font-family: $gothamprobold;
        font-size: 12px;
        @media (max-width: $screen-lg-max) {
            left: 72px;
        }
        @media (max-width: $screen-md-max) {
            position: static;
            margin-bottom: 38px;
        }
        @media (max-width: $screen-sm-max) {
            margin-bottom: 19px;
        }
    }
    &__info-text {
        width: 64%;
        font-family: $gothamproreg;
        font-size: 14px;
        line-height: 30px;
        @media (max-width: $screen-lg-max) {
            width: 82%;
        }
    }
}
.images {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 723px;
    margin-bottom: 30px;
    background: #fff;
    $sliderGutter: 30;
    @media (max-width: $screen-lg-max) {
        // $sliderGutter: 20;
        margin-bottom: 20px;
    }
    @media (max-width: $screen-md-max) {
        height: 470px;
    }
    @media (max-width: $screen-sm-max) {
        height: 450px;
        margin-bottom: 48px;
    }
    .slide-btn-right {
        position: absolute;
        top: 0;
        right: 50px;
        bottom: 0;
        width: 33.7px;
        height: 15px;
        margin: auto;
        svg {
            width: 33.7px;
            height: 15px;
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }

    .slide-btn-left {
        position: absolute;
        top: 0;
        left: 50px;
        bottom: 0;
        width: 33.7px;
        height: 15px;
        margin: auto;
        display: none;
        svg {
            width: 33.7px;
            height: 15px;
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }



    .slider-row {
        margin-right: -($sliderGutter/2)+px;
        margin-left: -($sliderGutter/2)+px;
    }
    &__slider {
        .images__wrapper {
            // float: left;
            padding: 0 ($sliderGutter/2)+px;
            @media (max-width: $screen-md-max) {
                height: 470px;
                img {
                    height: 100%;
                }
            }
        }
    }
}
.static-images {
    // margin-top: 50px;
    img {
        width: 100%;
    }
    @media (max-width: $screen-sm-max) {
        height: 364px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            height: 100%;
            width: auto;
            left: 50%;
            max-width: none;
            transform: translateX(-50%);
        }
    }
}
.next-project {
    position: relative;
    height: 532px;
    background: #1C1C1C;
    border: 30px solid #1C1C1C;
    @media (max-width: $screen-lg-max) {
        border-width: 20px;
    }
    @media (max-width: $screen-sm-max) {
        border-width: 10px;
    }
    .img-wrapper {
        overflow: hidden;
        background: #1C1C1C;
        height: 100%;
        position: relative;
        // -webkit-clip-path: inset(30px);
        // clip-path: inset(30px);
        img {
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            &.bgwidth {
                // width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
            &.bgheight {
                height: 100%;
                max-width: none;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__info {
        position: absolute;
        top: 52.5%;
        left: 50%;
        /* right: 0; */
        margin: auto;
        /* display: inline-block; */
        transform: translate(-50%,-50%);
        text-align: center;
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
        @media (max-width: $screen-sm-max) {
            top: 54.5%;
        }
    }
    &__title {
        margin-bottom: 14px;
        text-transform: uppercase;
        color: #fff;
        font-family: $gothamprobold;
        font-size: 21px;
        @media (max-width: $screen-sm-max) {
            font-size: 15px;
            margin-bottom: 19px;
        }
    }
    &__sub-title {
        color: #fff;
        font-family: $dietdidot;
        font-size: 60px;
        @media (max-width: $screen-md-max) {
            letter-spacing: 4px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 30px;
            line-height: 26px;
            letter-spacing: 1px;
        }
        span {
            display: block;
            margin-top: -6px;
            font-family: $gothamprolight;
            font-size: 40px;
            @media (max-width: $screen-md-max) {
                letter-spacing: 0;
            }
            @media (max-width: $screen-sm-max) {
                font-size: 20px;
                line-height: 26px;
                margin-top: 4px;
            }
        }
    }
    &__btn {
        display: block;
        margin-top: 25px;
        // width: 33.7px;
        // height: 15px;
        svg {
            // width: 57.7px;
            // height: 28px;
            // fill: none;
            // stroke: #fff;
            // stroke-miterlimit: 10;
            width: 33.7px;
            height: 15px;
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }
}
.page-body {
    margin-top: 100vh;
    @media (max-width: $screen-sm-max) {
        margin-top: 0;
    }
}
.project-detail-view {
    .page-body {
        margin-top: 100vh;
    }
}
.project-inner-wrapper {
    @media (max-width: $screen-lg-max) {
        .footer {
            display: none;
        }
    }
    @media (max-width: $screen-md-max) {
        .page-body {
            margin-top: 75vh;
        }
    }
    @media (max-width: $screen-sm-max) {
        .page-body {
            // margin-top: 415px;
            margin-top: 0;
        }
    }
}
.stamp {
    // position: absolute;
    padding: 0 15px;
    position: relative;
    display: block;
    // background: orange;
    // border: 4px dotted black;
    width: 66.6%;
    // height: 50%;
    margin-bottom: 30px;
    // margin-bottom: -110px;   // HACK: какой то баг "масонори" , потом пофиксить
    // height: 126px !important;
    // height: 255px;
    @media (max-width: $screen-lg-max) {
        padding: 0 10px;
    }
    span {
        // margin-bottom: -19%;
        @media (max-width: $screen-lg-max) {
            // margin-bottom: -9%;
        }
        @media (max-width: $screen-sm-max) {
            // margin-bottom: 0;
        }
    }
    &--right {
        left: 33.5%;
        right: 0;
        // float: right;
        // left: auto !important;
    }
    &--left {
        left: 0;
        right: auto !important;
        float: left;
        // left: 0;
        // right: 33.5%;
    }
    @media (max-width: $screen-sm-max) {
        // margin-bottom: -30px;
        position: absolute;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        &--right {
            left: 0;
            height: auto;
        }
        &--left {
            right: 0;
        }
    }
}
